<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>HEADWORK</span>
      <button mat-button  >Create-Task
      <i class=""></i>
    </button>

     <span class="example-spacer"></span>
    <button mat-button  >
      <i class="fas fa-user-plus"></i>
    </button>
    <button mat-button (click)="openDialog()" routerLink="#" routerLinkActive="active">
      <i class="fas fa-sign-in-alt"></i>
    </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    
  </mat-sidenav-content>
</mat-sidenav-container>
