<div class="login" style="align-content: center">
  <mat-card style="width: 50%;">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

     <form (submit)="loginUser($event)">
        <div class="form-group">
          <input type="text" class="form-control" id="user" placeholder="user">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="password">
        </div>
        <div class="checkbox">
         <label><input type="checkbox"> Remember me</label>
        </div>
        <p>Vous n'avez pas de compte pour vous connecter ? <a routerLink='/register'>Enregistrez-vous</a> </p>
       <button type="submit" class="btn btn-primary" value="submit">connexion</button>
     </form> 
  </mat-card-content>
</mat-card>
 </div>